/* body{
    background-image:url('2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:100px;
  
}
#btSubmit:hover{
  color: rgb(252, 85, 56);background-color: white;
}
header
{
    text-align: center;

    background-image: linear-gradient(to bottom right,  red,yellow);
    width: 101%;
    margin-left: -8px;
    margin-top: -10px;
    
    
}

.news-list{
    background-color: rgb(119, 113, 97);
    
}
.news-list a:hover{
height: 27px;    
}

a:hover, .login_btn:hover{
   color:rgb(47, 0, 255);
   background-color: rgb(185, 185, 185); 
}
.active{
    background-color:#ccc;
    color: black;
}
.form{
    padding: 0 50px;
    border: 1px solid #ccc;
    margin: 20px 20% 0 20%;
    background-color:rgb(192, 192, 192);
    box-shadow: 0 0 10px 6px ;
}
.new_account{
    background-color: rgb(252, 85, 56);
    position: relative;
    top: -58px;
    left:430px;
    padding: 13px 300px;
    color: aliceblue;
    text-decoration:none;
    font-weight: bold;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: 1px solid #2a7e09;
    margin-bottom: 25px;
}
input[type=text],input[type=password],input[type=email],input[type="number"] {
    width:100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
input[type=date]{
  text-align: center;
  float: center;
}
input[name=cpass]{
    margin-bottom: -20px;
}
input[type=submit]{
    background-color: rgb(252, 85, 56);
    color: white;
    padding: 14px;
    margin: -20px 0px 8px 0;
    border: none;
    width: 101%;
    opacity: 0.9;
    font-weight: bold;
    
 }
 .contain{
    padding: 50px;
    border: 1px solid #ccc;
    margin: 50px 20% 30px 20%;
    background-color:rgb(192, 192, 192);
}

 .passreq{
margin-top: -10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forget_account{
    position: relative;
    top: -120px;
    left:375px;
    color: red;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    width: 100%;
    background-color: #f1f1f1;
    border: 2px solid rgb(51, 141, 6);
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li{
    text-align: center;
    border-bottom: 1px solid rgb(51, 141, 6);
    margin-right: -15px;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    color: rgb(229, 17, 17);
  }
  
  li a:hover:not(.active) {
    background-color: #e68957;
    color: rgb(112, 18, 227);
  }
   */


  body {
    background-image: url('2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


#btSubmit:hover:not([disabled]) {
    color: rgb(247, 82, 53);
    background-color: white;
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom right, red, yellow);
    width: 100%;
    padding: 20px 0;
}

.news-list {
    background-color: rgb(119, 113, 97);
}

.news-list a:hover {
    height: 27px;
}

.forget_account:hover {
    color: rgb(59, 139, 204);
    background-color: rgb(185, 185, 185);
}

.active {
    background-color: #ccc;
    color: black;
}

.form {
    padding: 0 50px;
    border: 1px solid #ccc;
    margin: 20px auto;
    background-color: rgb(192, 192, 192);
    box-shadow: 0 0 10px 6px;
    max-width: 500px;
}


.btn{
    background-color: rgb(252, 85, 56);
    display: inline-block;
    padding: 13px 20px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    width: 92%;
    text-align: center;
    border-radius: 40px;
    transition: box-shadow 0.3s ease-in-out;
    }
    
.btn:hover:not([disabled]) {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    }

      
    hr {
    border: 1px solid #2a7e09;
    margin-bottom: 25px;
}

input[type=text],
input[type=password],
input[type=email],
input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=date] {
    text-align: center;
    float: center;
}

input[name=cpass] {
    margin-bottom: -20px;
}

input[type=submit] {
    background-color: rgb(252, 85, 56);
    color: white;
    padding: 14px;
    margin: -20px 0px 8px 0;
    border: none;
    width: 100%;
    opacity: 0.9;
    font-weight: bold;
}

.contain {
    padding: 50px;
    border: 1px solid #ccc;
    margin: 50px auto;
    background-color: rgb(192, 192, 192);
    max-width: 800px;
}

.passreq {
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forget_account {
    position: relative;
    float: right;
    display: flex;
    /* position: absolute; */
    top: -24.5px;
    left: 13%;
    transform: translateX(-50%);
    color: red;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    width: 100%;
    background-color: #f1f1f1;
    border: 2px solid rgb(51, 141, 6);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.custom-alert {
overflow:visible;
  position: fixed;
  left: 50%;
    top: 7%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 999;
  text-align: center;
  width: 20%;
  max-width: 400px;
  transition: opacity 0.3s ease-in-out;
  animation: showAlert 0.3s forwards;
  background: #000;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
  background-image: linear-gradient(120deg, #f08616 0%, #f5576c 100%);
  background-size: 300% 300%;
  animation: gradient 3s ease infinite;
  border-radius: 20px;
}

@keyframes showAlert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-alert-content {
  background: #1c1b1b;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px), radial-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 2px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.custom-alert-text {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
}

.custom-alert-close {
  cursor: pointer;
  background-color: #e3932a;
  border: 1px solid #f5576c;
  padding: 5px 20px;
  border-radius: 3px;
  color: #000;
  font-weight:800;
  transition: background-color 0.3s, color 0.3s;
}

.custom-alert-close:hover {
  background-color: #f5576c;
  color: #fff;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.5);
  }
