<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_me.css">
    <link  href="{{url_for('static',filename='style_me.css')}}" rel="stylesheet">
    <title>Forgot Account</title>
</head>
<body>
    <header>
        <img src="../static/plogo.png ">
    </header>
    <form action="/forgot_account" class="login_form" method="post">
        <div class="form">
            <h1 style="text-align: center;color: rgb(235, 108, 18);font-family:'Cooper Black';">Forgot Account</h1>
            <input type="email" name="email" id="login_email" placeholder="E-mail" required>
            <input type="number" name="mob_number" id="mob_number" placeholder="Mobile Number" required>
            <input type="radio" name="login_type" value="Admin">
            <label for="login_type">Admin</label>
            <input type="radio" name="login_type" value="Employee" required>
            <label for="login_type">Employee</label>
            <input type="submit" value="NEXT" style="margin-top: 10px; font-size: large;cursor: pointer;">
            <br><br><br>
            
        </div>
    </form>
</body>
</html>